<html>
    <head>
        <title>
            
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <div id = full>
            <div id = heading>
                <h1>TO DO WEB APP</h1>
            </div>
            
            <div id= "second">
                <form action="/create-to-do" method="POST">
                    <h6 id="topper">DESCRIPTION</h6>
                    <textarea id="display" name="data" placeholder=" what to do" required></textarea>
                 <!-- <input type= "text" id= "description" name = "describe" placeholder="tell me what to do" required> -->

                    <div id = "secondTwo">


                    <label for="c">CHOOSE CATEGORY</label>
                    <select name= "category" id="cats" required>
                        <option value="school">SCHOOL</option>
                        <option value="home">HOME</option>
                        <option value="work">WORKS</option>
                        <option value="other">OTHERS</option>
                    </select>

                


                    <input type ="date" id="date-filled"  name ="dates" required >

                    <div id="addDel">
                        <button type="submit">ADD TASK</button>
                    </div>
            </div>
                </form>

        <form action="/delete-todo" method="POST">
                    <div class="delete">
                    
                        <button>DELELTE TASK</button>
                        

                    </div>
            
                    






            

                 
             
 
            

            <div id = "all-todo">
                <ul style="list-style-type: none;">
                    <% for(let i of all) { %>
                    <!-- here i have to fetch the id?? i am not able to grasp what you are telling  -->
               

                        <li class="lower" >
                            <input type="checkbox" name="check" value= "<%= i._id%>">
                            <span class="todo-details">
                                <span> <%= i.data %></span>
                                <span> <%= i.category %></span><br>
                                <p><%= i.date%></p>
                            </span>
                        </li>


                  <%  } %>
                </ul>
            </div>

                    
         </form>
                    
                 
        </div> 
        
        <script type="text/javascript" src="/js/home.js"></script>
    </body>
        
</html>